@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient2 {
  background: rgb(255,255,255);
background: linear-gradient(23deg, rgba(255,255,255,1) 0%, rgba(254,89,0,1) 85%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-gradient {
  /* background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #fff4ee 0.89%,
    #ffdbc8 17.23%,
    #ffbe9b 42.04%,
    #ff9b65 55.12%,
    #ff813e 71.54%,
    #fe5900 100%
  ); */
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}



.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

/* some tailwind pre-config styles  */

/* STYLES ******************************************************* STYLES */
.boxWidth {
  @apply xl:max-w-[1280px] w-full;
}


.heading1 {
  @apply font-poppins font-semibold xs:text-[38px] text-[30px] text-third xs:leading-[50.8px] leading-[40.8px] w-full darkText;
}

.heading2 {
  @apply font-poppins font-semibold xs:text-[48px] text-[40px] text-third xs:leading-[76.8px] leading-[66.8px] w-full darkText;
}

.heading3 {
  @apply font-poppins font-semibold xs:text-[70px] text-[40px] text-third xs:leading-[76.8px] leading-[66.8px] w-full darkText;
}

.paragraph {
  @apply font-poppins font-normal text-third text-[18px] leading-[30.8px] darkText;
}

.paragraph2 {
  @apply font-poppins font-normal text-third text-[15px] leading-[25.8px] darkText;
}

.flexCenter {
  @apply flex justify-center items-center text-center;
}
.flexStart {
  @apply flex justify-center items-start text-center;
}

.paddingX {
  @apply sm:px-16 px-6;
}
.paddingY {
  @apply sm:py-16 py-6;
}
.padding {
  @apply sm:px-16 px-6 sm:py-12 py-4;
}

.marginX {
  @apply sm:mx-16 mx-6;
}
.marginY {
  @apply sm:my-16 my-6;
}

/* DARK MODE **************************************** DARK MODE */
.darkMode {
  @apply bg-third transition duration-700;
}
.darkText {
  @apply text-white transition duration-700;
}
